<<<<<<< HEAD
h1{
    background-color:black;
    color:aliceblue;
}
h2{
    color:black;
}
p{
    color:black;
=======
h1{
    background-color:black;
    color:aliceblue;
}
h2{
    color:black;
}
p{
    color:black;
>>>>>>> fb91894c39929072e2a6f883211db1c043a985ff
}